# Python
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo

*.egg-info/
*.egg
*.dist-info/
build/
dist/

# Virtual environments
.venv/

# Local artifacts
mlruns/
mlflow.db
nohup.out
exports.txt

/data/
docs/

.DS_Store
